<header header id="header" class="u-header bg-across-brand-navy">
  <div id="logoAndNav" class="container">
    <nav class="navbar">
      <%= link_to 'COME ACROSS', root_path, class:'brand-name' %>
    </nav>
  </div>
</header>
