<%= render 'header' %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="text-center">Edit Visit</h1>
      <%= render 'form', visit: @visit, comments: @visit.comments %>
    </div>
  </div>
</div>




